.slgn {
      background-color: #E3D44C;
      border-radius: 15px;
      padding: 3px;
      display: inline;
      justify-content: center;
      align-items: center;
      color: black;
      margin: 0;
      line-height: 1;
    }
    