.infoContainer {
  width: 95%;
  max-width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #D88700; 
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scrollbar-width: thin; 
  scrollbar-color: black orange; 
}


.infoContainer::-webkit-scrollbar {
  width: 8px; 
}

.infoContainer::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.infoContainer::-webkit-scrollbar-track {
  background: orange;
}

